<!doctype html>
<html>
	<head>
		<sly data-sly-include="/libs/wcm/core/components/init/init.jsp"/>
		<title>${currentPage.title}</title>
		<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
		<sly data-sly-call="${clientlib.css @ categories='ha.all'}"/>
	</head>
	<body>
		<h1>My Training Component</h1>
		<div data-sly-resource="${@path='par', resourceType='wcm/foundation/components/parsys'}"></div>
		<div data-sly-resource="${@path='par2', resourceType='wcm/foundation/components/parsys'}"></div>
		<sly data-sly-call="${clientlib.js @ categories='ha.all'}"/>
	</body>
</html>