<div class="ship-info">
    <div data-sly-use.ship="com.ha.core.models.CombinedInfo">
        <h1 class="authored">Ship Information for: ${ship.ship.name}</h1>
        <p class="authored">Ship Description: ${ship.ship.description @ context='html'}</p>
        <p class="authored">Ship Image URL: ${ship.ship.imageUrl}</p>
        <p class="authored">Ship Video URL: ${ship.ship.videoUrl}</p>
        <p class="authored">Ship Virtual Tour URL: ${ship.ship.virtualTourUrl}</p>
        <p>Cabins: ${ship.ship.cabins}</p>
        <p>Crew: ${ship.ship.crew}</p>
        <p>Guests: ${ship.ship.guests}</p>
        <p>Length: ${ship.ship.length}</p>
        <p>Width: ${ship.ship.width}</p>
    </div>
</div>